# 리스트1

###### 리스트1 - 자가진단 1

리스트를 만들고, 출력하여 출력 예와 같이 나오도록 하는 프로그램을 작성하라.​

In [ ]:
# 출력 예
# ['Salad', 'Pizza', 'Chicken', 'Soup']

In [2]:
list1 = ['Salad', 'Pizza', 'Chicken', 'Soup']
print(list)

['Salad', 'Pizza', 'Chicken', 'Soup']

###### 리스트1 - 자가진단 2

'Python', 'is', 'exciting' 세 문자열로 이루어진 리스트를 만들고, 다음과 같이 출력하는 프로그램을 작성하라.​

In [ ]:
# 출력 예
# Python is exciting

In [3]:
list2 = ['Python', 'is', 'exciting']
print(list2[0], list2[1], list2[2])

Python is exciting

###### 리스트1 - 자가진단 3
세 개의 리스트를 만들어 아래 순서대로 합병하여 출력하는 프로그램을 작성하라.

[첫 번째 리스트][세 번째 리스트][세 번째 리스트][세 번째 리스트][두 번째 리스트]

첫 번째 리스트:[1, 2, 3]

두 번째 리스트:[2, 4, 6]

세 번째 리스트:[3, 6, 9]

In [ ]:
# 출력 예
# [1, 2, 3, 3, 6, 9, 3, 6, 9, 3, 6, 9, 2, 4, 6]

In [4]:
l1 = [1, 2, 3]
l2 = [2, 4, 6]
l3 = [3, 6, 9]

print(l1 + l3 + l3 + l3 + l2)

[1, 2, 3, 3, 6, 9, 3, 6, 9, 3, 6, 9, 2, 4, 6]

###### 리스트1 - 자가진단 4

리스트를 하나 만들어 [1, 2]로 초기화하고, 추가로 정수를 하나 더 입력 받아 리스트 끝에 추가한 후 역순으로 출력하는 프로그램을 작성하시오.

In [5]:
# 입력 예
# -3
# 출력 예
# -3
# 2
# 1

In [10]:
list3 = [1,2]
num = int(input())
list.append(num)
print(list3[2])
print(list3[1])
print(list3[0])

-3
-3
2
1

###### 리스트1 - 자가진단 5

문자열을 하나 입력받아서 그 문자열의 맨 앞에 있는 문자를 출력한 후, 그 문자열을 리스트로 변환한 후에 해당 리스트의 앞에서부터 세 번째 문자를 출력하는 프로그램을 작성하라. 

(입력되는 문자열은 항상 길이가 3 이상이라고 가정한다.)​

In [ ]:
# 입력 예
# Eagle
# 출력 예
# E
# g

In [11]:
str = input()
print(str[0])
print(str[2])

Eagle
E
l

###### 리스트1 - 자가진단  6-1
원소 6개짜리 리스트를 입력받아 생성한 후, 인덱스를 입력 받아 입력받은 인덱스부터 맨 마지막까지의 부분 리스트를 출력하는 프로그램을 작성하라.

In [12]:
# 입력 예
# Element? Seoul
# Element? New York City
# Element? Tokyo
# Element? Beijing
# Element? London
# Element? Paris
# Index? 3
# 출력 예
# ['Beijing', 'London', 'Paris']

In [1]:
list1 = []

for i in range(6):
    list1.append(input('Element? '))

index = int(input('Index? '))
print(list1[index:7])

Element? qwe
Element? rty
Element? asd
Element? fgh
Element? zxc
Element? vbn
Index? 3
['fgh', 'zxc', 'vbn']

###### 리스트1 - 자가진단 6-2
원소 6개짜리 리스트를 입력받아 생성한 후, 홀수 번째 원소가 앞으로 오고 짝수 번째 원소가 뒤로 오도록 리스트를 재구성하여 출력하는 프로그램을 작성하시오.

In [ ]:
# 출력 예
# ['Seoul', 'Tokyo', 'London', 'New York City', 'Beijing', 'Paris']

In [41]:
list1 = []

for i in range(6):
    list1.append(input('Element? '))
    
print(list1[0::2] + list1[1::2])

Element? qwe
Element? rty
Element? uio
Element? asd
Element? fgh
Element? hjk
['qwe', 'uio', 'fgh', 'rty', 'asd', 'hjk']

###### 리스트1 - 자가진단 6-3
1부터 15까지의 정수가 들어있는 리스트를 생성하고, 정수 하나를 입력받아 그 배수들만으로 구성된 부분 리스트를 출력하는 프로그램을 작성하시오.​

In [ ]:
# 입력 예
# 3
# 출력 예
# [3, 6, 9, 12, 15]

In [52]:
list1 = [num+1 for num in range(15)]
num = (int(input()))-1
print(list[num::num+1])

6

[6, 12]

###### 리스트1 - 자가진단 7
공백을 사이에 두고 리스트를 입력받아, 역순으로 된 리스트를 구성하여 출력하는 프로그램을 작성하시오.

http://jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4139&sca=py50

In [ ]:
# 입력 예
# I My Me Mine
# 출력 예
# ['Mine', 'Me', 'My', 'I']

In [32]:
list1=[]
list1.append(input().split())

list1[0].reverse()

print(list1[0])

qq ww ee rr
['rr', 'ee', 'ww', 'qq']

In [44]:
list2 = [i for i in input().split()].reverse()
print(list2)

qq ww ee rr
None

###### 리스트 1 - 형성평가 1
http://jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4140&sca=py50

In [36]:
arr1 = [-(i+1) for i in range(5)]
print(arr1)

[-1, -2, -3, -4, -5]

In [38]:
[-i for i in {1,2,3,4,5}]

[-1, -2, -3, -4, -5]

###### 리스트 1 - 형성평가 2
http://jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4141&sca=py50

In [4]:
el1,ct1 = map(int, input().split())
el2,ct2 = map(int, input().split())

x = [el1 for i in range(ct1)]
y = [el2 for i in range(ct2)]

print(x + y)

2 3
4 5
[2, 2, 2, 4, 4, 4, 4, 4]

###### 리스트 1 - 형성평가 3
http://jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4142&sca=py50

In [7]:
color = []
animal = []
for i in range(4):
    x,y  = input("Input? ").split()
    color.append(x)
    animal.append(y)
    
print(f"Color: {color}")
print(f"Animal: {animal}")

Input? Pink Flamingo
Input? Pink Flamingo
Input? Pink Flamingo
Input? Pink Flamingo
Color: ['Pink', 'Pink', 'Pink', 'Pink']
Animal: ['Flamingo', 'Flamingo', 'Flamingo', 'Flamingo']

###### 리스트 1 - 형성평가 4
http://jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4143&sca=py50

In [23]:
str1 = input()
a = list(str1)
print(a[::-1])

korea
['a', 'e', 'r', 'o', 'k']

###### 리스트 1 - 형성평가 5
http://jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4144&sca=py50

In [45]:
li = []
for i in list(input().split()):
    li.append(i)

print(li[2::3])

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
['3', '6', '9', '12', '15']

###### 리스트 1 - 형성평가 6
http://jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4145&sca=py50

In [61]:
li = []
for i in list(input().split()):
    li.append(i)
    
print(li[-2:0:-1])

Tea Coke Coffee Juice Water
['Juice', 'Coffee', 'Coke']