###### 자가진단 1
http://jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4146&sca=py60

In [5]:
num = int(input())

# 조건문 
if num < 0:
    print(num)
    print("minus")
else:
    print(num)

# 삼항연산자  (참일때의 값 if (조건식) else (거짓말일때의 값))
print(f"{num}\nminus") if num < 0 else print(num)

-3
-3
minus
-3
minus

###### 선택제어문 - 자가진단 2
http://jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4147&sca=py60

In [9]:
height = int(input())
weight = int(input())

biman = weight + 100 - height

if biman > 0:
    print(f"{biman}\nObesity")
else:
    print(biman)
    
    
# 삼항연산자
print(f"{biman}\nObesity") if biman > 0 else print(biman)

155
60
5
Obesity
5
Obesity

###### 선택제어문 - 자가진단 3
http://jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4148&sca=py60

In [13]:
age = int(input())

print('An adult.') if age >= 20 else print(20-age,'years')

20
An adult.

###### 선택제어문 - 자가진단 4
http://jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4149&sca=py60

In [42]:
boxerWeight = float(input())
    
if boxerWeight <= 50.80:
    print("Flyweight")
elif boxerWeight <= 61.23:
    print("Lightweight")
elif boxerWeight <= 72.57:
    print("Middleweight")
elif boxerWeight <= 88.45:
    print("Cruiserweight")
elif boxerWeight:
    print("Heavyweight")

# 연속 3항 연산자
print("Flyweight") if boxerWeight <= 50.80 else (
print("Lightweight") if boxerWeight <= 61.23 else (
print("Middleweight") if boxerWeight <= 72.57 else (
print("Cruiserweight") if boxerWeight <= 88.45 else (
print("Heavyweight")))))

88
Cruiserweight
Cruiserweight

###### 선택제어문 - 자가진단 5
http://jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4150&sca=py60

In [54]:
n = float(input())
m = float(input())

num = "A" if (n>=4.0 and m>=4.0) else("B" if (n>=3.0 and m>=3.0) else("C"))
print(num)

3
4
B

###### 선택제어문 - 자가진단 6
http://jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4151&sca=py60

In [5]:
gender, age = input().split()
age = int(age)

if gender == "M" and age >= 18:
    print("MAN")
elif gender == "M" and age < 18:
    print("BOY")
elif gender == "F" and age >= 18:
    print("WOMAN")
elif gender == "F" and age < 18:
    print("GIRL")

F 15
GIRL

In [11]:
# 삼항연산자로도 해보자
gender, age = input().split()
age = int(age)

a="MAN" if (gender == "M" and age >= 18) else(
"BOY" if (gender == "M" and age < 18) else(
"WOMAN" if (gender == "F" and age >= 18) else(
"GIRL")))

print(a)

F 10
GIRL

###### 선택제어문 - 자가진단 7-1
http://jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4152&sca=py60

In [17]:
ch = input()

a= "Excellent" if ch == "A" else(
"Good" if ch == "B" else(
"Usually" if ch == "C" else(
"Effort" if ch == "D" else(
"Failure" if ch == "F" else(
"Mistake")))))

print(a)

R
Mistake

###### 선택제어문 - 자가진단 7-2
http://jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4153&sca=py60

In [20]:
grade = float(input())

ABC = 'scholarship' if grade >=4.0 else(
'next semester' if grade >=3.0 else(
'seasonal semester' if grade >=2.0 else(
'retake')))

print(ABC)

2.65
seasonal semester

###### 선택제어문 - 자가진단 8
http://jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4154&sca=py60

In [74]:
# 초간단하게 하는 방법 : 내장함수 max() 사용한다.
a,b,c = map(int,input().split())
print(min(a,b,c))

18 -5 10
-5

In [89]:
# 하지만 이 문제의 취지는 제어문을 통해 답을 내는 거겠지 
a,b,c = map(int,input().split())
X = a if a<b else b
X = X if X<c else c
print(X)

3 3 1
1

In [94]:
a,b,c = map(int,input().split())
nums = a,b,c 

# 심심한데 함수로 만들어 볼까
def find_max(*args):  # 가변매개변수 
    X = a if a<b else (
        b if b<c else (
        c if c<a else a)) # 이걸 어떻게 손볼수 있을까
    print(X)
    
find_max(*nums)

# 가변매개변수 사용해서 tuple 인 nums 를 unpacking!

6 9 2
6

In [59]:
type(nums)

tuple

###### 선택제어문 - 형성평가 1
http://jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4155&sca=py60

In [96]:
n,m = map(int,input().split())
x = n-m if n>=m else m-n 
print(x)

2332 33
2299

###### 선택제어문 - 형성평가 2
http://jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4156&sca=py60

In [100]:
a = int(input())

x = 'plus' if a>0 else ('minus' if a<0 else 'zero')
print(x)

-2
minus

###### 선택제어문 - 형성평가 3
http://jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4157&sca=py60

In [15]:
year = int(input())

a= "leap year" if (year%400==0) or (year%4==0 and year%100!=0) else "common year"
print(a)

2000
leap year

In [18]:
year = int(input())

if year%400==0 or (year%4==0 and year%100!=0):
    print('leap year')
else:
    print('common year')

2100
common year

###### 선택제어문 - 형성평가 4
http://jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4158&sca=py60

In [27]:
dict = {1:"dog", 2:"cat" ,3:"chick"}

q = int(input("Number? "))
result=dict[1] if q==1 else(
dict[2] if q==2 else
dict[3] if q==3 else "I don't know.")

print(result)

Number? 6
I don't know.

###### 선택제어문 - 형성평가 5
http://jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4159&sca=py60

In [43]:
month = int(input())
day31={1,3,5,7,8,10,12}
day30={4,6,9,11}

result= "31" if month in day31 else (
"30" if month in day30 else "28")
print(result)

2
28

In [33]:
month in day31

True